body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

html, body {
  width: 100%;
  height: 100%; }

.App {
  position: absolute;
  min-height: 100%;
  width: 100%;
  color: #ffd711;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  padding-bottom: 100px; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #fffff6; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

#forum, #topic, #thread {
  width: 90%;
  margin: 30px auto;
  padding: 30px;
  border-radius: 1%;
  background-color: rgba(0, 0, 0, 0.7); }

#home {
  width: 90%;
  margin: 20px auto; }

#home-content {
  display: flex;
  flex-wrap: wrap; }

#statistics-container {
  flex: 1;
  margin-right: 20px; }

#news-container {
  flex: 3;
  border-radius: 1%;
  overflow: hidden; }

#news-content {
  display: flex;
  flex-wrap: wrap; }

#news-header {
  background-color: black;
  color: #fffff6;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 0;
  text-align: center; }

#recent-activity, #forum-statistics {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
  border-radius: 3%;
  overflow: hidden; }

#recent-reply {
  font-family: 'Raleway', 'sans-serif';
  font-size: 20px; }

#recent-poster {
  font-size: 13px; }

#recent-thread {
  margin: 10px 0;
  float: right;
  color: #fffff6; }

.stats-header {
  background-color: black;
  color: #fffff6;
  font-weight: bold;
  padding: 10px 20px; }

.stats-body {
  padding: 0 30px 20px 30px; }

.count-row {
  display: flex;
  justify-content: space-between; }

.count-name {
  color: #20c0ff; }

#tweets {
  flex: 1; }

#articles {
  flex: 2; }

#article-carousel {
  height: 500px; }

.carousel-inner, .carousel-item {
  height: 100%;
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.7); }

.carousel-image {
  margin: 0 auto;
  height: 100%;
  max-width: 100%;
  min-width: 50%; }

.carousel-caption {
  color: #ffd711;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 30px;
  border-radius: 1%; }

.caption-header {
  color: #fffff6; }

.caption-url {
  color: #20c0ff;
  margin-left: 5px;
  font-size: 14px; }

#loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.forum-row {
  display: flex;
  border-bottom: 1px solid #ffd711;
  color: #20c0ff; }

.forum-signature {
  color: #fffff6; }

#topic {
  overflow: auto; }

#topic-header {
  display: flex;
  justify-content: space-between; }

.topic-row {
  color: #fffff6; }

.list-group-item {
  background-color: inherit; }

#first-row {
  color: #fffff6; }

.thread-icon {
  height: 40px;
  width: 50px; }

a {
  color: #20c0ff;
  font-weight: bolder; }

.flex-left {
  flex: 2; }

.flex-center {
  flex: 5; }

.flex-right {
  width: 240px;
  font-size: 14px; }

#new-thread-link {
  color: #fffff6;
  float: right; }

#new-thread-button {
  margin-bottom: 12px;
  float: right; }

#new-thread {
  width: 50%;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px; }

.thread {
  margin-bottom: 10px; }

.thread-header {
  background-color: black;
  color: #fffff6;
  font-weight: bold;
  width: 100%;
  padding: 0 10px; }

.thread-container {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid lightgray;
  background-color: #fffff6;
  width: 100%;
  padding: 10px 20px; }

.thread-signature {
  flex: 1;
  border-right: 1px solid dimgray;
  padding-right: 10px; }

.thread-body {
  padding: 10px 0 20px 20px;
  flex: 7; }

#thread-title {
  font-weight: bold; }

.thread-options {
  flex: 1;
  display: flex;
  padding: 10px 0 0 20px; }

#break {
  margin: 0 10px; }

#thread {
  color: black; }

#signature {
  padding-left: 10px;
  color: #fffff6; }

.label {
  color: #ffd711; }

.reply {
  margin-bottom: 10px; }

.reply-header {
  background-color: black;
  color: #fffff6;
  font-weight: bold;
  width: 100%;
  padding: 0 10px; }

.reply-container {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid lightgray;
  background-color: #fffff6;
  width: 100%;
  padding: 10px 20px; }

.reply-signature {
  flex: 1;
  border-right: 1px solid dimgray;
  padding-right: 10px; }

.reply-body {
  padding: 10px 0 20px 20px;
  flex: 7; }

#reply-title {
  font-weight: bold; }

.reply-options {
  flex: 1;
  display: flex;
  padding: 10px 0 0 20px; }

.avatar {
  width: 70px;
  height: auto; }

.quote {
  color: black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 0.1px solid #fffff6;
  border-bottom: 0.1px solid #fffff6;
  margin-bottom: 10px;
  padding: 5px; }

.quote-poster {
  font-weight: bold; }

.quote-body {
  font-style: italic;
  overflow: auto; }

#new-reply {
  padding: 10px 100px;
  border-radius: 2%; }

#navbar {
  height: 200px;
  position: relative; }

#navbar-primary {
  height: 100%;
  display: flex; }

.navbar-section {
  flex: 1;
  overflow: hidden;
  background-position: center;
  background-size: cover; }

#navbar-left {
  background-image: url("../images/navbar-left.jpg");
  box-shadow: 5px 5px 5px rgba(34, 34, 34, 0.6); }

#navbar-right {
  background-image: url("../images/navbar-right.jpg");
  box-shadow: -5px 5px 5px rgba(34, 34, 34, 0.6); }

#navbar-secondary {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0; }

#nav-links {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  border-radius: 10px 10px 0 0; }

.nav-link {
  color: #ffd711; }

a:not([href]) {
  color: #ffd711; }

.nav-link:hover {
  color: #fffff6;
  background-color: #6e6161; }

a:not([href]):hover {
  color: #fffff6;
  cursor: pointer; }

#logo {
  position: absolute;
  top: 0;
  width: 280px;
  left: 50%;
  margin-left: -140px; }

#breadcrumb {
  display: flex;
  color: #ffd711;
  margin-bottom: 15px; }

.breadcrumb-link {
  color: #ffd711; }

.breadcrumb-static {
  color: #fffff6;
  font-weight: bold; }

.break {
  color: #ffd711;
  margin: 0 10px; }

#login {
  text-align: center;
  width: 90%;
  margin: 30px auto;
  padding: 20px 30px 50px 30px;
  background-color: rgba(0, 0, 0, 0.7); }

#user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 1px solid #20c0ff;
  padding-bottom: 30px;
  margin-bottom: 30px; }

.login-input {
  width: 200px; }

.login-label {
  display: none; }

.custom-color {
  color: #fffff6; }

.fa-trash {
  color: #f10000;
  font-size: 20px; }

.fa-trash:hover {
  cursor: pointer; }

.option-icon {
  margin: 5px;
  cursor: pointer;
  font-size: 20px; }

.disabled-icon {
  margin: 5px;
  font-size: 20px;
  color: #a7a5a5; }

.warning {
  color: #f10000;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; }

.warning-color {
  color: #f10000; }
