body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

html, body {
  width: 100%;
  height: 100%; }

.App {
  position: absolute;
  min-height: 100%;
  width: 100%;
  color: gold;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  padding-bottom: 100px; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

#forum, #topic {
  width: 90%;
  margin: 30px auto;
  padding: 30px;
  border-radius: 1%;
  background-color: rgba(0, 0, 0, 0.7); }

#home {
  width: 60%;
  margin: 0 auto; }

#news {
  width: 100%; }

#news-header {
  width: 100%;
  margin-bottom: 0;
  background-color: black; }

.carousel-inner {
  background-color: rgba(0, 0, 0, 0.7); }

.carousel-image {
  height: 500px;
  margin: 0 auto; }

.carousel-caption {
  color: gold;
  background-color: rgba(0, 0, 0, 0.4); }

#loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#forum-header {
  display: flex;
  flex-wrap: wrap; }

#break {
  margin: 0 10px; }

.list-group-item {
  background-color: inherit; }

.topic-row {
  display: flex;
  border-bottom: 1px solid goldenrod;
  color: #20c0ff; }

#first-row {
  color: ivory; }

.thread-icon {
  height: 40px;
  width: 50px; }

a {
  color: #20c0ff;
  font-weight: bolder; }

.flex-left {
  flex: 2; }

.flex-center {
  flex: 5; }

.flex-right {
  width: 240px;
  font-size: 14px; }

#navbar {
  height: 200px;
  position: relative; }

#navbar-primary {
  height: 100%;
  display: flex; }

.navbar-section {
  flex: 1;
  overflow: hidden;
  background-position: center;
  background-size: cover; }

#navbar-left {
  background-image: url("../images/navbar-left.jpg");
  box-shadow: 5px 5px 5px rgba(34, 34, 34, 0.6); }

#navbar-right {
  background-image: url("../images/navbar-right.jpg");
  box-shadow: -5px 5px 5px rgba(34, 34, 34, 0.6); }

#navbar-secondary {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0; }

#nav-links {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  border-radius: 10px 10px 0 0; }

.nav-link {
  color: gold; }

a:not([href]) {
  color: gold; }

.nav-link:hover {
  color: white;
  background-color: #6e6161; }

a:not([href]):hover {
  color: white;
  cursor: pointer; }

#logo {
  position: absolute;
  top: 0;
  width: 280px;
  left: 50%;
  margin-left: -140px; }
