body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

// Home Component

#home-header {
  display: flex;
  flex-wrap: wrap;    
}

#break {
  margin: 0 10px;
}

.thread-icon {
  height: 40px;
  width: 50px;
}

li {
  display: flex;
  border-bottom: 1px solid goldenrod;
  // color: white;
}

a {
  color: rgb(32, 192, 255);
  font-weight: bolder;
}

.home-list-color {
  background-color: inherit;
}

#flex-left {
  flex: 2;
}

#flex-center {
  flex: 5;
}

#flex-right {
  width: 240px;
  font-size: 14px;
}

// Navbar

#navbar {
  height: 200px;
  position: relative;
  color: gold;
}

#navbar-primary {
  height: 100%;
  display: flex;       
}

.navbar-section {
  flex: 1;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

#navbar-left {
  background-image: url('../images/navbar-left.jpg');
  box-shadow: 5px 5px 5px rgba(34,34,34,0.6);
}

#navbar-right {
  background-image: url('../images/navbar-right.jpg');
  box-shadow: -5px 5px 5px rgba(34,34,34,0.6);    
}

#navbar-secondary {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

#nav-links {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  border-radius: 10px 10px 0 0;    
}

.nav-link {
  color: gold;
}

a:not([href]) {
  color: gold;
}

.nav-link:hover {
  color: white;
}

a:not([href]):hover {
  color: white;
  cursor: pointer;
}

#logo {
  position: absolute;
  top: 0;
  width: 280px;
  left: 50%;
  margin-left: -140px;
}